{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Cambio de contraseña{% endblock title %}
{% block content %}
    <h2>Cambio de contraseña</h2>
    <p>Ingrese su contraseña anterior, por razones de seguridad, y luego ingrese su nueva contraseña dos veces para que podamos verificar que la escribió correctamente.</p>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input class= "btn btn-dark" type"submit"
            value="Cambiar mi contraseña"
            >
    </form>
{% endblock content %}