.login{
    margin: 70px;
    
}
.card{
    margin: 80px;
    
}
.new{
    margin: 60px;
}
.signup{
    margin: 50px;
}
.inicio{
    text-align: center;
}
body{
    background-image: url("../img/img2.jpg");
    margin: 3rem;
    
}
.container{
    margin-top: 16rem;
}
.card1{
    background-image: url("../img/fondo.jpg");
}